.main {
  padding: 40px 108px;
}
.main_search {
  display: flex;

  .main_search_icons {
    position: absolute;
  }
  .main_search_text-news {
    padding: 160px 0 0 65px;
    width: 426px;
    height: 219px;
    margin: 0;
    position: relative;

    h1 {
      font-family: var(--second-family);
      font-weight: 900;
      font-size: 52px;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--background-white);
    }
  }
  .main_search_scan {
    padding: 241px 0 0 141px;
    margin: 0;
    position: relative;

    .main_search_scan-text {
      width: 381px;
      height: 50px;

      h1 {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        text-transform: uppercase;
        color: var(--background-white);
      }
    }
    .main_search_scan-input {
      padding: 24px 0 0 0;

      input {
        border-radius: 56px;
        padding: 6px 6px 6px 28px;
        width: 381px;
        height: 52px;
        background: var(--background-white);
        border: none;
      }
      img {
        display: block;
      }
    }
  }
}
.main_news {
  padding: 221px 0 0 0;
  
  .main_news_navigation {
    display: flex;
    margin: 0;
    
    #button-news {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-white);
        border-radius: 35px;
        background: var(--button-black);
      }
    }
    #button-trips {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    #button-sport {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    #button-policy {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    #button-economy {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    #button-culture {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    .main_news_more {
      display: flex;
      padding: 2px 0 2px 296px;
  
      h1 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--text-accent);
  
        padding: 3.5px 1px 3.5px 0px;
      }
    }
  }
  .main_news_content {
    padding: 30px 0 0 0;
    width: 908px;
    height: 520px;

    .main_news_content_card {

      .main_news_content_card_tags {
        border: 1px solid var(--tag-border);
        border-radius: 35px;
        width: 123px;
        height: 25px;
        margin: 0;

        h1 {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 12px;
          line-height: 100%;
          text-transform: uppercase;
          color: var(--tag-text);
          padding: 6.5px 10px;
        }
      }
    }
  }
}