.main {
  padding: 40px 108px;
}
.main_search {
  display: flex;

  .main_search_icons {
    position: absolute;
  }
  .main_search_text-news {
    padding: 160px 0 0 65px;
    width: 426px;
    height: 219px;
    margin: 0;
    position: relative;

    h1 {
      font-family: var(--second-family);
      font-weight: 900;
      font-size: 52px;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--background-white);
    }
  }
  .main_search_scan {
    padding: 241px 0 0 141px;
    margin: 0;
    position: relative;

    .main_search_scan-text {
      width: 381px;
      height: 50px;

      h1 {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        text-transform: uppercase;
        color: var(--background-white);
      }
    }
    .main_search_scan-input {
      padding: 24px 0 0 0;

      input {
        border-radius: 56px;
        padding: 6px 6px 6px 28px;
        width: 381px;
        height: 52px;
        background: var(--background-white) url(../../icons/home/searth/search-button.svg) no-repeat right;
        border: none;
      }
      img {
        display: block;
      }
    }
  }
}
.main_news {
  padding: 221px 0 0 0;
  
  .main_news_navigation {
    display: flex;
    margin: 0;
    
    #button-news {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-white);
        border-radius: 35px;
        background: var(--button-black);
      }
    }
    #button-trips {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    #button-sport {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    #button-policy {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    #button-economy {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    #button-culture {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    .main_news_more {
      display: flex;
      padding: 2px 0 2px 296px;
  
      h1 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--text-accent);
  
        padding: 3.5px 1px 3.5px 0px;
      }
    }
  }
  .main_news_content {
    display: flex;

    .main_news_content_tidings {
      padding: 30px 0 0 0;
      width: 908px;
      height: 520px;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      grid-gap: 30px 20px;

      .main_news_content_tidings_card {

        .main_news_content_tidings_card_tags {
          border: 1px solid var(--tag-border);
          border-radius: 35px;
          height: 25px;
          margin: 16px 0 0 0;
          width: max-content;
  
          h1 {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            text-transform: uppercase;
            color: var(--tag-text);
            padding: 6.5px 10px;
          }
        }
        .main_news_content_tidings_card_text {
          padding: 12px 0;
          width: 432px;
          height: 105px;
          margin: 0;
  
          h1 {
            font-family: var(--second-family);
            font-weight: 600;
            font-size: 32px;
            line-height: 110%;
            color: var(--text-dark);
          }
        }
        .main_news_content_tidings_card_views {
          display: flex;
  
          .main_news_content_tidings_card_views_time {
            margin: 0;
            
            h1 {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 14px;
              line-height: 120%;
              color: var(--text-grey);
            }
          }
          .main_news_content_tidings_card_views_scan {
            display: flex;
            margin: 0;
            padding: 0 0 0 10px;
  
            h1 {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 14px;
              line-height: 120%;
              color: var(--text-grey);
  
              padding: 0 0 0 4px;
            }
          }
        }
      }
    }
    .main_news_content_advertising {
      padding: 30px 0 0 30px;
      margin: 0;

      .main_news_content_advertising_card {
        margin: 0 0 30px 0;
        width: 276px;
        height: 332px;
        background: var(--ad-background);

        h1 { 
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: var(--background-peoprle);
        opacity: 0.5;
        padding: 155px 0 0 57px;
        }
      }
    }
  }
}
.main_reasons {
  padding: 103px 0 0 0;
  
  .main_reasons_background {
    display: flex;

    #reasons {
      margin: 0 0 0 -108px;
    }
    .main_reasons_background_text {
      position: absolute;
      padding: 97px 0;

      .main_reasons_bacfground_text_logo {
        width: 723px;
        height: 114px;

        h1 {
          font-family: var(--second-family);
          font-weight: 900;
          font-size: 52px;
          line-height: 110%;
          color: var(--background-white);
        }
      }
      .main_reasons_background_text_row {
        padding: 40px 0 0 0;

        .main_reasons_background_text_row_card {
          display: flex;
          padding: 0 0 32px 0;
          
          img {
            margin: 0;
          }
          h1 {
            margin: 0;
            padding: 9.5px 0 9.5px 24px;

            font-family: var(--font-family);
            font-weight: 400;
            font-size: 24px;
            line-height: 130%;
            color: var(--background-white);
          }
        }
      }
      .main_reasons_background_text_button {
        padding: 16px 0 0 0;
      
        button {
          display: flex;
          margin: 0;

          border-radius: 10px;
          border: none;
          padding: 10px 29.5px 12px 35.5px;
          width: 179px;
          height: 41px;
          background: var(--background-white);

          h1 {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: var(--background-peoprle);
            margin: 0;
          }
          img {
            padding: 2px 0 2px 14px;
          }
        }
      }
    }
  }
}
.main_advertising {
  padding: 97px 0 0 0;

  .main_advertising_block {
    padding: 10px;
    width: 1224px;
    height: 200px;
    background: var(--ad-background);

    h1 {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 120%;
      color: var(--ad-text);
      opacity: 0.5;

      padding: 89px 0 0 531px;
    }
  }
}
.main_car {
  padding: 100px 0 0 0;
  width: 1225px;
  height: 100px;

  .main_car_text {
    display: flex;

    h1 {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 44px;
      line-height: 110%;
      color: var(--110833);

      padding: 18px 375px 34px 0;
      margin: 0;
    }
    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 110%;
      color: var(--110833);
      width: 138px;

      margin: 0;
      padding: 29px 0 51px 0;
      display: flex;
    }
    h2 {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 44px;
      line-height: 110%;
      color: var(--110833);

      margin: 0;
      padding: 18px 0 34px 260px;
    }
  }
  .main_car_icons {

    #carside {
      position: absolute;
      margin: -59px 599px 13px 598px;
    }
    #line-car {
      position: absolute;
      margin: -37px 1px 18px 0;
    }
  }
}
.main_map {
  
  .main_map_city{
  
    .main_map_city_voronezh {
  
      #elips-voronezh {
        position: absolute;
        margin: -351px 0 0 317px;
      }
      #voronezh-map {
        position: absolute;
        margin: -429px 0 0 246px;
        display: none;
      }
    }
    .main_map_city_voronezh:hover {
  
      #voronezh-map {
        display: block;
      }
    }
    .main_map_city_tambov {
  
      #elips-tambov {
        position: absolute;
        margin: -438px 0 0 582px;
      }
      #tambov-map {
        position: absolute;
        margin: -517px 0 0 510px;
        display: none;
      }
    }
    .main_map_city_tambov:hover {
  
      #tambov-map {
        display: block;
      }
    }
    .main_map_city_penza {
  
      #elips-penza {
        position: absolute;
        margin: -436px 0 0 939px;
      }
      #penza-map {
        position: absolute;
        margin: -516px 0 0 868px;
        display: none;
      }
    }
    .main_map_city_penza:hover {
  
      #penza-map {
        display: block;
      }
    }
    .main_map_city_saratov {
  
      #elips-saratov {
        position: absolute;
        margin: -205px 0 0 1045px;
      }
      #saratov-map {
        position: absolute;
        margin: -283px 0 0 972px;
        display: none;
      }
    }
    .main_map_city_saratov:hover {
  
      #saratov-map {
        display: block;
      }
    }
  }
}
.main_slider {
  padding: 100px 0 0 0;

  &_navigation {
    display: flex;
    margin: 0;

    #button-attractions {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-white);
        border-radius: 35px;
        background: var(--button-black);
      }
    }
    #button-—Åathedrals {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    #button-temple {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    #button-monuments {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    #button-squares {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    #button-park {
      height: 28px;
      padding: 0 32px 0 0;
      text-wrap-mode: nowrap;

      h1 {
        padding: 5px 14px 6px 14px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--text-dark-alt);
      }
    }
    &_more {
      display: flex;
      padding: 2px 0 2px 296px;
  
      h1 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--text-accent);
  
        padding: 3.5px 1px 3.5px 0px;
      }
    }
  }
  &_slide {
    display: flex;
  }
}